*{
    margin: 0px;
    padding: 0px;
}
/* body{
    padding: 50px;
} */
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 2px solid red;
    align-items: center;
    flex-direction: row-reverse;
}